<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2"></div>
        <div class="col-md-6">
			<h1>Lorem</h1>
			<p class="lead">Lorem ipsum dolor sit amet.</p>
            <p>username: {{user.username}}</p>
            <p>email: {{user.email}}</p>
            <p>firstName: {{user.firstName}}</p>
            <p>lastName: {{user.lastName}}</p>
            <p>Initials: {{user.initials}}</p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-1"></div>
    </div>
</div>